telethon==1.36.0
telethon-session-sqlalchemy
setuptools
wheel
aiocsv
aiofiles
aiohttp
aiosqlite
arabic_reshaper
beautifulsoup4
cloudscraper
colour
cowpy
cryptography
cfscrape
covid
DateTime
emoji
ffmpeg-python
flask
flask_restful
fonttools
geopy
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gtts
glitch_this
gsearch
googletrans-py
hachoir
heroku3
html-telegraph-poster
httpx[http2]
humanize
IMDbPY
ipaddress
img2html
jikanpy
justwatch
jotquote
kvsqlite
kwot
lottie
lyricsgenius
markdown
motor
moviepy
nekos.py
opentele
ocrspace
Pillow
prettytable
psutil
psycopg2-binary
psycopg2
py-tgcalls==2.0.2
pyfiglet
PyGithub
pygments
pylast
pymediainfo
pyquery
pyrogram
pySmartDL
python-barcode
python-dotenv
pytz
pydub
programmingquotes
qrcode
regex
requests
randomstuff.py
search-engine-parser
selenium
spamwatch
speedtest-cli
sqlalchemy-json
sqlalchemy==1.3.23
ShazamAPI
speechrecognition
telegraph
tgcrypto
Tgcrypto
tswift
ujson
urlextract
user_agent
validators
vcsi
wand
wget
wikipedia
youtube-search-python==1.4.9
youtube-search
youtube_dl
yt-dlp==2024.05.27
